## Objective
In this lab, you will analyze a customer dataset to identify key factors influencing customer churn, create visualizations to explore the data, and build a predictive model using machine learning. The goal is to extract actionable insights and present your findings in a comprehensive report.
## Scenario
You are a data analyst at a fast-growing subscription-based service company. The company is concerned about customer churn—customers canceling their subscriptions—and has tasked you with analyzing customer data. Your objectives are to identify key factors that influence churn and build a predictive model to identify customers at risk of leaving.
## Materials Provided
- A dataset (`customer_churn.csv`) preloaded into a Pandas DataFrame named `df`.
- Python environment with essential libraries such as Pandas, Scikit-Learn, Matplotlib, and Seaborn pre-installed.

## High-Level Tasks
1. **Load and Explore the Data**
2. **Data Cleaning and Preprocessing**
3. **Exploratory Data Analysis (EDA) and Visualization**
4. **Machine Learning Model Building and Evaluation**
5. **Presenting Findings in a Comprehensive Report**

## Lab Instructions
### 1. Load and Explore the Data (5 minutes)
#### Step 1.1: Import the required Python library and load dataset.

In [1]:
import pandas as pd 
df = pd.read_csv("customer_churn.csv")

#### Step 1.2: Display the First 5 Rows
Use the provided code cell to display the first 5 rows of the dataset.

In [2]:
# Display the first 5 rows of the dataframe
df.head()

,Unnamed: 0,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,0,128,Yes,1,2.7,1,265.1,110,89.0,9.87,10.0
1,1,0,107,Yes,1,3.7,1,161.6,123,82.0,9.78,13.7
2,2,0,137,Yes,0,0.0,0,243.4,114,52.0,6.06,12.2
3,3,0,84,No,0,0.0,2,299.4,71,57.0,3.10,6.6
4,4,0,75,No,0,0.0,3,166.7,113,41.0,7.42,10.1

#### Step 1.3: Examine Column Names and Data Types
Inspect the column names and data types using `df.info()`.

In [3]:
# Display column names and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3333 non-null   int64
 1   Churn            3333 non-null   int64
 2   AccountWeeks     3333 non-null   int64
 3   ContractRenewal  3333 non-null   object
 4   DataPlan         3333 non-null   int64
 5   DataUsage        3333 non-null   float64
 6   CustServCalls    3333 non-null   int64
 7   DayMins          3333 non-null   float64
 8   DayCalls         3333 non-null   int64
 9   MonthlyCharge    3333 non-null   float64
 10  OverageFee       3333 non-null   float64
 11  RoamMins         3333 non-null   float64
dtypes: float64(5), int64(6), object(1)
memory usage: 312.6+ KB

#### Step 1.4: Get Summary Statistics
Get summary statistics of numerical columns using `df.describe()`.

In [4]:
# Get summary statistics of numerical columns
df.describe()

,Unnamed: 0,Churn,AccountWeeks,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.00000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,1666.00000,0.144914,101.064806,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,962.29855,0.352067,39.822106,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,833.00000,0.000000,74.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,1666.00000,0.000000,101.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,2499.00000,0.000000,127.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,3332.00000,1.000000,243.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

#### Step 1.5: Remove CSV Index Column
The index from the csv turned into a column and should be dropped. Use `df.drop` to get rid of the `Unnamed: 0` column. Then use `df.describe()` again to confirm the column is removed.

In [5]:
# Drop the “Unnamed: 0” column
df.drop(['Unnamed: 0'], axis=1)

# Use df.describe() to confirm the column was removed
df.describe()

,Unnamed: 0,Churn,AccountWeeks,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
count,3333.00000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,1666.00000,0.144914,101.064806,0.276628,0.816475,1.562856,179.775098,100.435644,56.305161,10.051488,10.237294
std,962.29855,0.352067,39.822106,0.447398,1.272668,1.315491,54.467389,20.069084,16.426032,2.535712,2.791840
min,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000
25%,833.00000,0.000000,74.000000,0.000000,0.000000,1.000000,143.700000,87.000000,45.000000,8.330000,8.500000
50%,1666.00000,0.000000,101.000000,0.000000,0.000000,1.000000,179.400000,101.000000,53.500000,10.070000,10.300000
75%,2499.00000,0.000000,127.000000,1.000000,1.780000,2.000000,216.400000,114.000000,66.200000,11.770000,12.100000
max,3332.00000,1.000000,243.000000,1.000000,5.400000,9.000000,350.800000,165.000000,111.300000,18.190000,20.000000

#### Step 1.6: Identify Potential Features and Target Variable
Select all features from the dataset, except churn (e.g., `“AccountWeeks”`, `“DataPlan”`, `“Data Usage”`, etc) and set the target variable (`'Churn'`).

In [10]:
# Select all features and set target variable
features = df[['AccountWeeks','ContractRenewal','DataPlan',"DataUsage", 'CustServCalls', 'DayMins', 'DayCalls', 'MonthlyCharge', 'OverageFee','RoamMins']]
churn = df['Churn']

### 2. Data Cleaning and Preprocessing (5 minutes)
#### Step 2.1: Encode Categorical Features
Encode the categorical features (e.g., `ContractRenewal`) using one-hot encoding.

In [11]:
# One-hot encoding for 'ContractRenewal' feature
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(features)

## Step 2.2: Split the Data
Split the data into training and testing sets (70% train, 30% test) using `train_test_split` from Scikit-Learn. 

Make sure to set the `random_state` parameter to 42 to ensure reproducibility and obtain the same results as the expected solution.

In [12]:
from sklearn.model_selection import train_test_split

# Split the data
train_df = df.drop('Churn', axis=1)
test_df = df['ContractRenewal']

# Split the data into training and testing sets
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

### 3. Exploratory Data Analysis (EDA) and Visualization (20 minutes)
#### Step 3.1: Summary Statistics for Relevant Features
Calculate and print summary statistics for relevant features (e.g., average tenure for churned vs. non-churned customers).

In [15]:
# Summary statistics for churned vs. non-churned customers
print("\nTraining dataset summary:")
print(train_df.describe())

print("\nTesting dataset summary:")
print(test_df.describe())

# Print average tenure
mean_train_churn = train_df['Churn'].mean()
print("Mean 'Churn' from training data:",mean_train_churn)

mean_test_churn = test_df['Churn'].mean()
print("Mean 'Churn' from test data:",mean_test_churn)

Training dataset summary:
        Unnamed: 0        Churn  AccountWeeks     DataPlan    DataUsage  \
count  2666.000000  2666.000000   2666.000000  2666.000000  2666.000000
mean   1683.602401     0.143286    100.691673     0.271943     0.799572
std     956.244754     0.350430     39.522338     0.445044     1.258088
min       1.000000     0.000000      1.000000     0.000000     0.000000
25%     866.500000     0.000000     73.000000     0.000000     0.000000
50%    1689.500000     0.000000    100.000000     0.000000     0.000000
75%    2517.750000     0.000000    127.000000     1.000000     1.700000
max    3332.000000     1.000000    243.000000     1.000000     5.400000

       CustServCalls      DayMins     DayCalls  MonthlyCharge   OverageFee  \
count    2666.000000  2666.000000  2666.000000    2666.000000  2666.000000
mean        1.573143   179.600713   100.542761      56.083496    10.037389
std         1.338454    54.351004    19.886485      16.294796     2.534681
min         0.000000     2.600000    30.000000      15.700000     0.000000
25%         1.000000   143.200000    88.000000      44.900000     8.292500
50%         1.000000   179.200000   101.000000      53.150000    10.045000
75%         2.000000   216.275000   114.000000      65.800000    11.737500
max         9.000000   350.800000   165.000000     111.300000    18.190000

          RoamMins
count  2666.000000
mean     10.237547
std       2.796937
min       0.000000
25%       8.500000
50%      10.300000
75%      12.000000
max      20.000000

Testing dataset summary:
        Unnamed: 0       Churn  AccountWeeks    DataPlan   DataUsage  \
count   667.000000  667.000000    667.000000  667.000000  667.000000
mean   1595.643178    0.151424    102.556222    0.295352    0.884033
std     983.710533    0.358731     40.994774    0.456543    1.328177
min       0.000000    0.000000      1.000000    0.000000    0.000000
25%     728.000000    0.000000     76.000000    0.000000    0.000000
50%    1565.000000    0.000000    103.000000    0.000000    0.000000
75%    2416.500000    0.000000    129.000000    1.000000    2.095000
max    3331.000000    1.000000    225.000000    1.000000    4.750000

       CustServCalls     DayMins    DayCalls  MonthlyCharge  OverageFee  \
count     667.000000  667.000000  667.000000     667.000000  667.000000
mean        1.521739  180.472114  100.007496      57.191154   10.107841
std         1.219483   54.965636   20.792734      16.923943    2.540950
min         0.000000    0.000000    0.000000      14.000000    1.560000
25%         1.000000  146.800000   86.500000      45.000000    8.415000
50%         1.000000  181.300000  101.000000      54.000000   10.190000
75%         2.000000  216.850000  114.000000      68.000000   11.890000
max         7.000000  335.500000  158.000000     110.000000   17.070000

         RoamMins
count  667.000000
mean    10.236282
std      2.773459
min      0.000000
25%      8.400000
50%     10.300000
75%     12.200000
max     18.900000
Mean 'Churn' from training data: 0.14328582145536384
Mean 'Churn' from test data: 0.15142428785607195

#### Step 3.2: Create Visualizations
Create visualizations (e.g., bar charts, histograms, box plots) to explore the relationships between features and the target variable (`'Churn'`).

In [14]:
import matplotlib.pyplot as plt

# Bar chart for contract type vs churn
df.plot(x=, y='ContractRenewal', kind='bar')

# Add labels and title
plt.xlabel('Churn')
plt.ylabel('ContractRenewal')
plt.title('Churn vs Features')

# Show the plot
plt.show()

# Histogram for tenure distribution
### YOUR CODE HERE ###

# Box plot for monthly charges
### YOUR CODE HERE ###

TypeError: no numeric data to plot

#### Step 3.3: Interpret Visualizations
Interpret the visualizations and identify key insights about factors influencing churn.  Enter your observations in the cell below:

Enter your observations about the visualizations here:

- Observation 1: 
- Observation 2: 
- Observation 3:

### 4. Machine Learning Model Building and Evaluation (20 minutes)
#### Step 4.1: Choose a Classification Algorithm
Choose a suitable classification algorithm (e.g., `LogisticRegression`) and import it.

In [ ]:
from sklearn.linear_model import LogisticRegression

# Create an instance of the Logistic Regression model
### YOUR CODE HERE ###

#### Step 4.2: Train the Model
Train the model on the training data.

In [ ]:
# Train the model
### YOUR CODE HERE ###

#### Step 4.3: Make Predictions
Use the trained model to make predictions on the testing data.

In [ ]:
# Make predictions on the test set
### YOUR CODE HERE ###

#### Step 4.4: Evaluate the Model
Evaluate the model's performance using appropriate metrics (`accuracy_score`, `precision_score`, `recall_score`, `f1_score`).

**Note:** For grading purposes, calculate and store each of these metrics in the following variables:
- `accuracy`
- `precision`
- `recall`
- `f1`

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Evaluate the model
# Round all values to 3 decimal places
### YOUR CODE HERE ###

#### Check Your Results:

In [ ]:
# Print to check results
print(f"Accuracy: {accuracy}")
print(f"Precision: {precision}")
print(f"Recall: {recall}")
print(f"F1 Score: {f1}")

### 5. Presenting Findings in a Comprehensive Report
#### Step 5.1: Compile the Results
Compile your analysis, visualizations, and model evaluation results into a comprehensive report. Fill them in as directed below.
- `Introduction:` Write a sentence or two describing the purpose of this analysis.
- `Data Exploration:` Write a sentence or two highlighting the key factors in customer churn.
- `Model Building and Evaluation:` Write a sentence or two describing how your model was trained, and the accuracy, precision, and recall rates.
- `Key Insights:` Add two or three bullet points summarizing your findings.
- `Recommendations:` Add two or three bullet points with the recommendations you would make based on this analysis.

# Customer Churn Analysis Report

## Introduction
- 


## Data Exploration
- 


## Model Building and Evaluation
- 


## Key Insights
- 
- 
- 


## Recommendations
- 
-

## Hints & Tips
- Use the "Pandas Cheat Sheet" for quick syntax reference on DataFrame operations.
- Check the "Scikit-Learn Documentation" for examples and explanations of classification models.
- Use Matplotlib for creating informative visualizations. Reference various materials in Course 2.

Good luck with your customer churn analysis!